<div class="login-content"  fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
<md-input-container >
  <input mdInput  [(ngModel)]="username" placeholder="Username">
</md-input-container>
<md-input-container >
  <input mdInput type="password"  [(ngModel)]="password" placeholder="Password" >
</md-input-container>
  <div fxLayout="row">
    <button fxFlex="25"  md-button  (click)="register()" >Sign Up</button>
    <button fxFlex="25" md-button  (click)="login()" >Sign In</button>
  </div>
</div>
