.card {
  width: 180px;
  margin-top: 3px;
}

.product {
  cursor: pointer;

}
.image {
  background-size: cover;
  width: 100%;
}
md-card-header {
  background-color: darkgray;

}

.selection {
  background-color: #acb4c2;
  transform: scale(1.15);
}


