<div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around start">


  <div fxLayout="column" fxLayoutAlign="start start">
    <div  class="content" fxFlex="25" fxLayout="column" fxLayoutAlign="center stretch"
         *ngFor="let data of data; let i = index"
         (click)="setClickedRow(i);getProductId(data.id)" [class.selection]="i == selectedRow">
    <md-card class="card"  >

      <div class="product" (click)="getProductId(data.id)">
      <md-card-header  fxLayoutAlign="center">
        <md-card-title>{{data.title}}</md-card-title>
      </md-card-header>
      <md-card-content  fxLayout="column" fxLayoutAlign="space-around center" >
        <img  class="image" src="{{'./assets/images/' + data.img}}">
        <p>
          {{data.text}}
        </p>
      </md-card-content>
    </div>
    </md-card>
    </div>
    </div>



  <app-comments [id]="productId">
  </app-comments>

</div>
