<div   class="content"  fxLayout="column" >

  <div  fxLayout="column" fxFlex="100" fxLayoutAlign="center stretch">
  <md-input-container >
    <textarea  [(ngModel)]="newComment"   class="user-comment" mdInput placeholder="Your comment"></textarea>
  </md-input-container>

    <md-input-container >
      <input mdInput  [(ngModel)]="username" placeholder="Login">
    </md-input-container>
    <md-input-container >
      <input mdInput  [(ngModel)]="password" placeholder="Password" >
    </md-input-container>
    <div fxLayout="row" fxLayoutAlign="end stretch">
      <button fxFlex="25" color="primary" md-button (click)="addReviews()"  >Submit Review</button>
      <button fxFlex="25" color="warn" md-button  (click)="GetReviews()" >Show All Reviews</button>
    </div>

  </div>
  <div  fxLayout="column"   >
<md-card  fxFlex="100" fxLayout="column" fxLayoutAlign="center stretch"
          class="card-comments" *ngFor="let data of reviews">


  <div >
     <div  fxLayoutAlign="end stretch" class="user" >
       User:  at {{data.created_at}}<br>

    </div>
    <div>
      Rate:{{data.rate}}<br>
      {{data.text}}
    </div>
  </div>
</md-card>
  </div>
</div>
